@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3 {
    @apply font-brand;
  }

  img,
  svg {
    display: inline-block;
    max-width: 100%;
    height: auto;
  }
}

@layer utilities {
  .section-styles {
    @apply relative flex flex-col items-center w-full px-5 md:px-12 py-12 md:py-[100px];
  }

  .section-border-b {
    @apply after:content-[''] after:absolute after:bottom-0 after:w-[min(100%,1082px)] after:border-b after:border-[--border-1];
  }

  .section-inner {
    @apply relative w-full max-w-[986px];
  }
}

:root {
  --bg-1: #fff;
  --bg-2: #fff;
  --bg-3: #fafaf9;
  --bg-4: #f7f6f6;
  --bg-5: #f7f6f6;
  --border-1: #f1f1f0;
  --border-2: #e1e1e0;
  --fg-1: #211d1d;
  --fg-2: #636161;
  --fg-3: #8f8e8e;
  --fg-4: #bcbbbb;
  --purple-1: #9898ff;
  --purple-2: #bcbbff;
  --purple-3: #e5e5ff;
  --purple-4: #faf9ff;
  --blue-1: #1c4886;
  --blue-2: #5d7eaa;
  --blue-3: #e0eaf2;
  --blue-4: #f6fcfe;
  --gho-1: #28d358;
  --focus: #9898ff;
  --red: #ff8947;
  --blue: #b5e7fa;
  --purple: #9896ff;
  --green: #63bbb6;
  --yellow: #ffd631;

  --duration-snappy: 750ms;
  --ease-snappy: cubic-bezier(0.175, 0.885, 0.32, 1.1);
  --duration-swift: 1800ms;
  --ease-swift: cubic-bezier(0.19, 1, 0.22, 1);
  --scrollbar-width: 6px;
}

@supports (color: color(display-p3 1 1 1)) {
  :root {
    --bg-1: color(display-p3 1 1 1 / 1);
    --bg-2: color(display-p3 1 1 1 / 1);
    --bg-3: color(display-p3 0.9804 0.9804 0.9764 / 1);
    --bg-4: color(display-p3 0.9686 0.9647 0.9647 / 1);
    --bg-5: color(display-p3 0.988235 0.988235 0.988235);
    --border-1: color(display-p3 0.9451 0.9451 0.9411 / 1);
    --border-2: color(display-p3 0.8823 0.8823 0.8784 / 1);
    --fg-1: color(display-p3 0.1294 0.1137 0.1137 / 1);
    --fg-2: color(display-p3 0.3882 0.3804 0.3804 / 1);
    --fg-3: color(display-p3 0.5608 0.5569 0.5569 / 1);
    --fg-4: color(display-p3 0.7373 0.7333 0.7333 / 1);
    --purple-1: color(display-p3 0.5961 0.5961 1 / 1);
    --purple-2: color(display-p3 0.7373 0.7333 1 / 1);
    --purple-3: color(display-p3 0.898 0.898 1 / 1);
    --purple-4: color(display-p3 0.9804 0.9765 1 / 1);
    --blue-1: color(display-p3 0.1098 0.2824 0.5255 / 1);
    --blue-2: color(display-p3 0.3647 0.4941 0.6667 / 1);
    --blue-3: color(display-p3 0.8784 0.9176 0.949 / 1);
    --blue-4: color(display-p3 0.9647 0.9882 0.9961 / 1);
    --gho-1: color(display-p3 0.1569 0.8275 0.3451 / 1);
    --focus: color(display-p3 0.5961 0.5961 1 / 1);
  }
}

.link-more {
  margin: 2rem 0;
  display: flex;
  align-items: center;
  column-gap: 4px;
  position: relative;
  padding-bottom: 8px;
  width: fit-content;
  text-decoration-line: none;
  font-weight: 500;
  font-feature-settings: "cv11" on, "ss01" on, "ss03" on;
  line-height: 1;
  letter-spacing: -0.18px;
  transition: 0.2s ease;
  transition-property: background-size;
  background-image: linear-gradient(180deg, currentColor 0, currentColor);
  background-size: 0 100%;
  background-repeat: no-repeat;
  background-position: 0 1.4em;
}

.link-more:hover {
  background-size: 100% 100%;
  transition-delay: 0.2s;
}

.link-more::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1.5px;
  background-image: linear-gradient(
    90deg,
    currentColor,
    currentColor 33.33%,
    transparent 0,
    transparent 66.66%,
    currentColor 0,
    currentColor
  );
  background-position: right 0 bottom 0;
  background-size: 300% 2px;
  background-repeat: no-repeat;
  opacity: 0.4;
  transition: inherit;
  transition-property: background-position, opacity;
}

.link-more:hover::before {
  opacity: 1;
  background-position: right 50% bottom 0;
  transition-delay: 0ms;
}
